# Module 6 Challenge

## Part 3

In [89]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps
import requests
from citipy import citipy
from datetime import datetime
# Import the API keys.
from config import g_key
from config import weather_api_key

### Import the WeatherPy_vacation.csv file as a new DataFrame

In [90]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
city_data_df

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,1,Hilo,US,broken clouds,78.80,19.73,-155.09,Hilo Hawaiian Hotel
1,3,Arraial Do Cabo,BR,clear sky,70.63,-22.97,-42.03,Pousada Porto Praia
2,11,Vaini,TO,broken clouds,75.20,-21.20,-175.20,Keleti Beach Resort
3,13,Albany,US,broken clouds,72.00,42.60,-73.97,NaN
4,20,Republic,US,broken clouds,70.00,37.12,-93.48,AmericInn by Wyndham Republic
...,...,...,...,...,...,...,...,...
111,506,Yerbogachen,RU,few clouds,75.09,61.28,108.01,NaN
112,509,Yaan,NG,overcast clouds,72.81,7.38,8.57,NaN
113,510,Itarema,BR,clear sky,74.46,-2.92,-39.92,Windvillage
114,516,Pitimbu,BR,scattered clouds,77.45,-7.47,-34.81,Reserva do Abiaí
115,518,Sakakah,SA,clear sky,75.20,29.97,40.21,Fakhamat Al Orjoana Apartment

###  Choose four cities that a customer might want to visit

In [91]:
cities = ['Wilmington', 'Virginia Beach', 'Kirkwood', 'Callaway']

### Create separate DataFrames for each city

In [92]:
wilmington_df = city_data_df.loc[(city_data_df['City'] == 'Wilmington')]
wilmington_df

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
73,334,Wilmington,US,scattered clouds,71.6,34.23,-77.94,"Hotel Ballast Wilmington, Tapestry Collection ..."

In [93]:
vb_df = city_data_df.loc[(city_data_df['City'] == 'Virginia Beach')]
vb_df

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
102,450,Virginia Beach,US,overcast clouds,73.0,36.85,-75.98,Hilton Virginia Beach Oceanfront

In [94]:
kirkwood_df = city_data_df.loc[(city_data_df['City'] == 'Kirkwood')]
kirkwood_df

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
80,362,Kirkwood,US,scattered clouds,75.99,38.58,-90.41,Holiday Inn St Louis SW - Route 66

In [95]:
callaway_df = city_data_df.loc[(city_data_df['City'] == 'Callaway')]
callaway_df

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
78,360,Callaway,US,clear sky,79.0,30.15,-85.57,Holiday Inn Express & Suites Panama City-Tyndall

### Get the latitude-longitude pairs for each city DataFrame as tuples

In [96]:
wilmington_coords = (float(wilmington_df['Lat']), float(wilmington_df['Lng']))
vb_coords = (float(vb_df['Lat']), float(vb_df['Lng']))
kirkwood_coords = (float(kirkwood_df['Lat']), float(kirkwood_df['Lng']))
callaway_coords = (float(callaway_df['Lat']), float(callaway_df['Lng']))

### Use the directions Layer instructions from the gmaps documentation

In [97]:
import gmaps.datasets
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

### Create a marker layer map for the four cities

In [98]:
all_cities_df = pd.DataFrame(wilmington_df)
all_cities_df = all_cities_df.append(vb_df)
all_cities_df = all_cities_df.append(kirkwood_df)
all_cities_df = all_cities_df.append(callaway_df)
all_cities_df

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
73,334,Wilmington,US,scattered clouds,71.60,34.23,-77.94,"Hotel Ballast Wilmington, Tapestry Collection ..."
102,450,Virginia Beach,US,overcast clouds,73.00,36.85,-75.98,Hilton Virginia Beach Oceanfront
80,362,Kirkwood,US,scattered clouds,75.99,38.58,-90.41,Holiday Inn St Louis SW - Route 66
78,360,Callaway,US,clear sky,79.00,30.15,-85.57,Holiday Inn Express & Suites Panama City-Tyndall

In [105]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

direction_layer = gmaps.directions_layer(
        kirkwood_coords, vb_coords, waypoints=[callaway_coords, wilmington_coords],
        travel_mode='DRIVING', show_markers=False)

fig.add_layer(direction_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [106]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
info_box_text = [info_box_template.format(**row) for index, row in all_cities_df.iterrows()]

# Add a temperature for the vacation spots and a pop-up marker for each city.
locations = all_cities_df[["Lat", "Lng"]]

marker_layer = gmaps.marker_layer(locations, info_box_content = info_box_text)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
## NOTE: THE ONLY WAY TO GET THE MARKERS TO SHOW WITH THE INFO BOX WAS TO REMOVE THE MARKERS FROM THE DIRECTIONS LAYER.